@model DivingTracker.Web.Models.HomeModel
@{
    ViewBag.Title = ViewBag.SiteName + ": Home";
}
<div class="row">
    <div class="col-md-12">
        <h1>Welcome, @Model.User.FirstName</h1>
        <p>The current club make-up looks like this:
            <ul>
                @foreach (var qualification in Model.ClubQualifications)
                {
                    <li>@qualification.Key: @qualification.Value</li>
                }
            </ul>
        </p>
    </div>
</div>
