<button type="submit"
        class="btn btn-primary popup"
        title="New Answer"
        name="answerId"
        value="-1"
        data-toggle="modal"
        data-target="#popup-container">
    <span class="fa fa-plus"></span> Add Answer
</button>