@model DivingTracker.ServiceLayer.JsonModels.WikipediaSearchDataJdo

<ul>
    @foreach (var result in Model.query.search.Take(10))
    {
        <li>
            <a class="answer-description" aria-label="@result.pageid" href="#">@result.title</a>
        </li>
    }
</ul>

<script>
    (function ($) {
        $('.answer-description').click(function () {
            $('#AnswerText')[0].value = $(this)[0].innerText;
            $.ajax({
                url: '/Ajax/GetWikipediaContent?pageId=' + $(this).attr('aria-label'),
                type: 'GET',
                cache: false
            })
            .done(function (data) {
                $('#wikipedia-page')[0].innerHTML = data.content;
                $('#wikipedia-page-container').show();
                $('#AnswerDescription')[0].value = $('<div/>').html(data.description).text();
            });
        });
        return true;
    })(jQuery);
</script>