@model DivingTracker.ServiceLayer.Entities.AnswerDto
<div class="headed-item">
    <h2>
        @Html.ActionLink(Model.AnswerText, "Index", "Answer", new { id = Model.AnswerId, area = "" }, null)
    </h2>
    <p>@Model.AnswerDescription</p>
</div>