@model IEnumerable<DivingTracker.Web.Models.TrainingModel>

@{
    ViewBag.Title = ViewBag.SiteName + ": Qualifications and Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Qualifications and Training</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 headed-collection card light-background">
            <div class="row">
                <div class="col-md-12 header">
                    <h2>Courses</h2>
                </div>
                <div class="col-md-12 headed-item">
                    <p>Click on a link below to see the progress tracker for that qualification.</p>
                    <ul>
                        @foreach (var trainingModel in Model)
                        {
                            <li>
                                <a href="@Url.Action("Qualification", "Training", new {trainingModel.Qualification.QualificationId})">
                                    @trainingModel.Qualification.Name
                                    (@trainingModel.Qualification.AgencyName)
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script language="javascript">
        $(document).ready(function() {
            $(".open-close").on("click",
                function() {
                    $("div.module-users#" + this.classList[1]).slideToggle();
                    $("div.module-table#" + this.classList[1]).slideToggle();
                    $("th.user-name." + this.classList[1]).fadeToggle();
                });
        });
    </script>
}