@using System.Web.Mvc.Html
@model IEnumerable<DivingTracker.Web.Models.TrainingModel>

@{
    ViewBag.Title = ViewBag.SiteName + ": Qualifications and Progress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Qualifications and Progress</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @foreach (var trainingModel in Model)
        {
            <h2>@trainingModel.Qualification.Name</h2>

            foreach (var module in trainingModel.Modules)
            {
                if (module.Module.UserCriteria.Any())
                {
                    <div class="row">
                        <div class="col-md-12">
                            @Html.Partial("_TrainingModule", module)
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

@section Scripts
{
    <script language="javascript">
        $(document).ready(function () {
            $(".open-close").on("click",
                function () {
                    $("div.module-users#" + this.classList[1]).slideToggle();
                    $("div.module-table#" + this.classList[1]).slideToggle();
                    $("th.user-name." + this.classList[1]).fadeToggle();
                });
        });
    </script>
}