@model DivingTracker.Web.Models.TrainingModel

@{
    ViewBag.Title = ViewBag.SiteName + ": Qualifications and Training";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1>Qualifications and Training</h1>
        <h2>@Model.Qualification.Name</h2>
    </div>
</div>

@if (Model == null)
{
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12 headed-collection card light-background">
                <div class="row">
                    <div class="col-md-12 card-header">
                        <h2>Courses</h2>
                    </div>
                    <div class="col-md-12 headed-item">
                        <p>We couldn't find that qualification. Please go back and try again.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    foreach (var module in Model.Modules)
    {
        @Html.Partial("_TrainingModule", module)
    }
}

@section Scripts
{
    <script language="javascript">
        $(document).ready(function() {
            $(".open-close").click(function() {
                $("div.collapsible#" + this.classList[2]).slideToggle();
            });
        });
    </script>
}